{
	"root": true,
	"parserOptions": {
		"project": true,
		"tsconfigRootDir": "./",
		"parser": "@typescript-eslint/parser",
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint"],
	"rules": {
		// eslint
		/* possible problems */
		"array-callback-return": ["error", { "allowImplicit": true }],
		"constructor-super": "error",
		"for-direction": "error",
		"getter-return": ["error", { "allowImplicit": true }],
		"no-async-promise-executor": ["error"],
		"no-await-in-loop": ["error"],
		"no-compare-neg-zero": ["error"],
		"no-cond-assign": ["error", "always"],
		"no-const-assign": ["error"],
		"no-constant-binary-expression": ["error"],
		"no-constant-condition": ["error", { "checkLoops": false }],
		"no-constructor-return": ["error"],
		"no-control-regex": ["error"],
		"no-debugger": ["error"],
		"no-dupe-args": ["error"],
		// "no-dupe-class-members": ["error"],
		"no-dupe-else-if": ["error"],
		"no-dupe-keys": ["error"],
		"no-duplicate-case": ["error"],
		// "no-duplicate-imports": ["error"],
		"no-empty-character-class": ["error"],
		"no-empty-pattern": ["error"],
		"no-ex-assign": ["error"],
		"no-fallthrough": ["error"],
		"no-func-assign": ["error"],
		"no-import-assign": ["error"],
		"no-inner-declarations": ["error", "functions"],
		"no-invalid-regexp": ["error"],
		"no-irregular-whitespace": ["error"],
		// "no-loss-of-precision": ["error"],
		"no-misleading-character-class": ["error"],
		// "no-new-native-non-constructor": ["error"],
		"no-new-symbol": ["error"],
		"no-obj-calls": ["error"],
		"no-prototype-builtins": ["error"],
		"no-self-assign": ["error"],
		"no-self-compare": ["error"],
		"no-setter-return": ["error"],
		"no-sparse-arrays": ["error"],
		"no-template-curly-in-string": ["error"],
		"no-this-before-super": ["error"],
		// "no-undef": ["error"], // nuxt trash
		"no-unexpected-multiline": ["error"],
		"no-unmodified-loop-condition": ["error"],
		"no-unreachable": ["error"],
		"no-unreachable-loop": ["error"],
		"no-unsafe-finally": ["error"],
		"no-unsafe-negation": ["error"],
		"no-unsafe-optional-chaining": ["error"],
		"no-unused-private-class-members": ["error"],
		// "no-unused-vars": ["error"],
		// "no-use-before-define": ["error"],
		"no-useless-backreference": ["error"],
		"require-atomic-updates": ["error"],
		"use-isnan": ["error"],
		"valid-typeof": ["error"],
		/* suggestions */
		"accessor-pairs": ["error"],
		"arrow-body-style": "off",
		"block-scoped-var": ["error"],
		"camelcase": ["error"],
		"capitalized-comments": ["error", "never"],
		"class-methods-use-this": ["error"],
		"complexity": "off",
		"consistent-return": "off",
		"consistent-this": ["error", "that"],
		"curly": "off",
		"default-case": ["error"],
		"default-case-last": ["error"],
		// "default-param-last": ["error"],
		// "dot-notation": ["error"],
		"eqeqeq": ["error", "always"],
		"func-name-matching": "off",
		"func-names": "off",
		"func-style": ["error", "declaration", { "allowArrowFunctions": true }],
		"grouped-accessor-pairs": ["error", "getBeforeSet"],
		"guard-for-in": ["error"],
		"id-denylist": ["error", "data", "err", "e", "cb", "callback"],
		"id-length": "off",
		"id-match": ["error", "^[a-zA-Z]+$", { "properties": true, "classFields": true, "onlyDeclarations": false }],
		// "init-declarations": "off",
		"logical-assignment-operators": ["error", "always"],
		"max-classes-per-file": ["error", 1],
		"max-depth": ["error", 4],
		"max-lines": ["error", { "max": 500, "skipBlankLines": true, "skipComments": true }],
		"max-lines-per-function": ["error", { "max": 100, "skipBlankLines": true, "skipComments": true, "IIFEs": true }],
		"max-nested-callbacks": "off",
		"max-params": ["error", 4],
		"max-statements": ["error", 20],
		"multiline-comment-style": "off",
		"new-cap": ["error"],
		"no-alert": ["error"],
		// "no-array-constructor": ["error"],
		"no-bitwise": ["error"],
		"no-caller": ["error"],
		"no-case-declarations": ["error"],
		"no-confusing-arrow": "off",
		"no-console": ["error"],
		"no-continue": ["error"],
		"no-delete-var": ["error"],
		"no-div-regex": ["error"],
		"no-else-return": ["error"],
		"no-empty": ["error"],
		// "no-empty-function": ["error"],
		"no-empty-static-block": ["error"],
		"no-eq-null": ["error"],
		"no-eval": ["error"],
		"no-extend-native": ["error"],
		"no-extra-bind": ["error"],
		"no-extra-label": ["error"],
		// "no-extra-semi": ["error"],
		"no-floating-decimal": ["error"],
		"no-global-assign": ["error"],
		"no-implicit-coercion": ["error"],
		"no-implicit-globals": ["error"],
		// "no-implied-eval": ["error"],
		"no-inline-comments": "off",
		// "no-invalid-this": ["error"],
		"no-iterator": ["error"],
		"no-label-var": ["error"],
		"no-labels": ["error"],
		"no-lone-blocks": ["error"],
		"no-lonely-if": ["error"],
		// "no-loop-func": ["error"],
		// "no-magic-numbers": ["error"],
		"no-mixed-operators": "off",
		"no-multi-assign": ["error"],
		"no-multi-str": ["error"],
		"no-negated-condition": "off",
		"no-nested-ternary": "off",
		"no-new": ["error"],
		"no-new-func": ["error"],
		"no-new-object": ["error"],
		"no-new-wrappers": ["error"],
		"no-nonoctal-decimal-escape": ["error"],
		"no-octal": ["error"],
		"no-octal-escape": ["error"],
		"no-param-reassign": ["error"],
		"no-plusplus": ["error"],
		"no-proto": ["error"],
		// "no-redeclare": ["error"],
		"no-regex-spaces": ["error"],
		"no-restricted-exports": "off",
		"no-restricted-globals": "off",
		// "no-restricted-imports": "off",
		"no-restricted-properties": "off",
		"no-restricted-syntax": "off",
		"no-return-assign": ["error"],
		// "no-return-await": ["error"],
		"no-script-url": ["error"],
		"no-sequences": ["error"],
		// "no-shadow": ["error"],
		"no-shadow-restricted-names": ["error"],
		"no-ternary": "off",
		// "no-throw-literal": ["error"],
		"no-undef-init": ["error"],
		"no-undefined": ["error"],
		"no-underscore-dangle": ["error"],
		"no-unneeded-ternary": ["error"],
		// "no-unused-expressions": ["error"],
		"no-unused-labels": ["error"],
		"no-useless-call": ["error"],
		"no-useless-catch": ["error"],
		"no-useless-computed-key": ["error"],
		"no-useless-concat": ["error"],
		// "no-useless-constructor": ["error"],
		"no-useless-escape": ["error"],
		"no-useless-rename": ["error"],
		"no-useless-return": ["error"],
		"no-var": ["error"],
		"no-void": "off",
		"no-warning-comments": "off",
		"no-with": ["error"],
		"object-shorthand": ["error"],
		"one-var": "off",
		"one-var-declaration-per-line": "off",
		"operator-assignment": ["error", "always"],
		"prefer-arrow-callback": ["error"],
		"prefer-const": ["error"],
		"prefer-destructuring": ["error"],
		"prefer-exponentiation-operator": ["error"],
		"prefer-named-capture-group": "off",
		"prefer-numeric-literals": ["error"],
		"prefer-object-spread": ["error"],
		"prefer-promise-reject-errors": ["error"],
		"prefer-regex-literals": ["error"],
		"prefer-rest-params": ["error"],
		"prefer-spread": ["error"],
		"prefer-template": ["error"],
		"quote-props": ["error", "as-needed"],
		"radix": ["error"],
		// "require-await": ["error"],
		"require-unicode-regexp": "off",
		"require-yield": ["error"],
		"sort-imports": "off",
		"sort-keys": "off",
		"sort-vars": "off",
		"spaced-comment": ["error", "always"],
		"strict": ["error", "never"],
		"symbol-description": ["error"],
		"vars-on-top": "off",
		"yoda": ["error", "never"],
		/* layout & formatting */
		"array-bracket-newline": ["error", "consistent"],
		"array-bracket-spacing": ["error", "never"],
		"array-element-newline": ["error", "consistent"],
		"arrow-parens": ["error", "as-needed"],
		"arrow-spacing": ["error", { "before": true, "after": true }],
		// "block-spacing": ["error", "always"],
		// "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		// "comma-dangle": ["error", "always-multiline"],
		// "comma-spacing": ["error", { "before": false, "after": true }],
		"comma-style": ["error", "last"],
		"computed-property-spacing": ["error", "never"],
		"dot-location": ["error", "property"],
		"eol-last": ["error", "always"],
		// "func-call-spacing": ["error", "never"],
		"function-call-argument-newline": ["error", "consistent"],
		"function-paren-newline": ["error", "consistent"],
		"generator-star-spacing": ["error", { "before": false, "after": true }],
		"implicit-arrow-linebreak": ["error", "beside"],
		// "indent": ["error", "tab", { "SwitchCase": 1 }],
		"jsx-quotes": ["error", "prefer-double"],
		// "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
		// "keyword-spacing": ["error", { "before": true, "after": true }],
		"line-comment-position": "off",
		"linebreak-style": ["error", "unix"],
		// "lines-around-comment": "off",
		// "lines-between-class-members": ["error", "always"],
		"max-len": "off",
		"max-statements-per-line": ["error", { "max": 1 }],
		"multiline-ternary": "off",
		"new-parens": ["error", "always"],
		"newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
		// "no-extra-parens": "off",
		"no-mixed-spaces-and-tabs": ["error"],
		"no-multi-spaces": ["error"],
		"no-tabs": "off",
		"no-trailing-spaces": ["error"],
		"no-whitespace-before-property": ["error"],
		"nonblock-statement-body-position": ["error", "beside"],
		"object-curly-newline": ["error", { "consistent": true }],
		// "object-curly-spacing": ["error", "always"],
		"object-property-newline": "off",
		"operator-linebreak": ["error", "before"],
		"padded-blocks": ["error", "never"],
		// "padding-line-between-statements": "off",
		// "quotes": ["error", "single", { "avoidEscape": true }],
		"rest-spread-spacing": ["error", "never"],
		// "semi": ["error", "always"],
		"semi-spacing": ["error", { "before": false, "after": true }],
		"semi-style": ["error", "last"],
		// "space-before-blocks": ["error", "always"],
		// "space-before-function-paren": ["error", "never"],
		"space-in-parens": ["error", "never"],
		// "space-infix-ops": ["error"],
		"space-unary-ops": ["error", { "words": true, "nonwords": false }],
		"switch-colon-spacing": ["error", { "after": true, "before": false }],
		"template-curly-spacing": ["error", "never"],
		"template-tag-spacing": ["error", "never"],
		"unicode-bom": ["error", "never"],
		"wrap-iife": ["error", "any"],
		"wrap-regex": ["error"],
		"yield-star-spacing": ["error", "after"],
		// typescript eslint
		"@typescript-eslint/adjacent-overload-signatures": ["error"],
		"@typescript-eslint/array-type": ["error", { "default": "array", "readonly": "array" }],
		"@typescript-eslint/await-thenable": ["error"],
		"@typescript-eslint/ban-ts-comment": ["error"],
		"@typescript-eslint/ban-types": ["error"],
		"@typescript-eslint/class-literal-property-style": ["error", "fields"],
		"@typescript-eslint/consistent-generic-constructors": ["error", "constructor"],
		"@typescript-eslint/consistent-indexed-object-style": ["error", "index-signature"],
		"@typescript-eslint/consistent-type-assertions": "off",
		"@typescript-eslint/consistent-type-definitions": ["error", "interface"],
		"@typescript-eslint/consistent-type-exports": ["error", { "fixMixedExportsWithInlineTypeSpecifier": true }],
		"@typescript-eslint/consistent-type-imports": ["error", { "prefer": "type-imports", "fixStyle": "inline-type-imports", "disallowTypeAnnotations": true }],
		"@typescript-eslint/explicit-function-return-type": ["error"],
		"@typescript-eslint/explicit-member-accessibility": "off",
		"@typescript-eslint/explicit-module-boundary-types": ["error"],
		"@typescript-eslint/member-delimiter-style": ["error", { "multiline": { "delimiter": "semi", "requireLast": true }, "singleline": { "delimiter": "semi", "requireLast": true } }],
		"@typescript-eslint/member-ordering": "off",
		"@typescript-eslint/method-signature-style": ["error", "method"],
		"@typescript-eslint/naming-convention": "off",
		"@typescript-eslint/no-base-to-string": ["error"],
		"@typescript-eslint/no-confusing-non-null-assertion": "off",
		"@typescript-eslint/no-confusing-void-expression": "off",
		"@typescript-eslint/no-duplicate-enum-values": ["error"],
		"@typescript-eslint/no-duplicate-type-constituents": ["error"],
		"@typescript-eslint/no-dynamic-delete": ["error"],
		"@typescript-eslint/no-empty-interface": ["error"],
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-extra-non-null-assertion": ["error"],
		"@typescript-eslint/no-extraneous-class": ["error"],
		"@typescript-eslint/no-floating-promises": ["error"],
		"@typescript-eslint/no-for-in-array": ["error"],
		"@typescript-eslint/no-implicit-any-catch": ["error"],
		"@typescript-eslint/no-import-type-side-effects": ["error"],
		"@typescript-eslint/no-inferrable-types": "off",
		"@typescript-eslint/no-invalid-void-type": ["error"],
		"@typescript-eslint/no-meaningless-void-operator": ["error"],
		"@typescript-eslint/no-misused-new": ["error"],
		"@typescript-eslint/no-misused-promises": ["error"],
		"@typescript-eslint/no-mixed-enums": ["error"],
		"@typescript-eslint/no-namespace": ["error"],
		"@typescript-eslint/no-non-null-asserted-nullish-coalescing": ["error"],
		"@typescript-eslint/no-non-null-asserted-optional-chain": ["error"],
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-parameter-properties": "off",
		"@typescript-eslint/no-redundant-type-constituents": ["error"],
		"@typescript-eslint/no-require-imports": ["error"],
		"@typescript-eslint/no-this-alias": ["error"],
		"@typescript-eslint/no-type-alias": "off",
		"@typescript-eslint/no-unnecessary-boolean-literal-compare": ["error"],
		"@typescript-eslint/no-unnecessary-condition": ["error"],
		"@typescript-eslint/no-unnecessary-qualifier": ["error"],
		"@typescript-eslint/no-unnecessary-type-arguments": ["error"],
		"@typescript-eslint/no-unnecessary-type-assertion": ["error"],
		"@typescript-eslint/no-unnecessary-type-constraint": ["error"],
		"@typescript-eslint/no-unsafe-argument": ["error"],
		"@typescript-eslint/no-unsafe-assignment": ["error"],
		"@typescript-eslint/no-unsafe-call": ["error"],
		"@typescript-eslint/no-unsafe-declaration-merging": ["error"],
		"@typescript-eslint/no-unsafe-member-access": ["error"],
		"@typescript-eslint/no-unsafe-return": ["error"],
		"@typescript-eslint/no-useless-empty-export": ["error"],
		"@typescript-eslint/no-var-requires": ["error"],
		"@typescript-eslint/non-nullable-type-assertion-style": ["error"],
		"@typescript-eslint/parameter-properties": "off",
		"@typescript-eslint/prefer-as-const": ["error"],
		"@typescript-eslint/prefer-enum-initializers": ["error"],
		"@typescript-eslint/prefer-for-of": ["error"],
		"@typescript-eslint/prefer-function-type": ["error"],
		"@typescript-eslint/prefer-includes": ["error"],
		"@typescript-eslint/prefer-literal-enum-member": ["error"],
		"@typescript-eslint/prefer-namespace-keyword": ["error"],
		"@typescript-eslint/prefer-nullish-coalescing": ["error"],
		"@typescript-eslint/prefer-optional-chain": ["error"],
		"@typescript-eslint/prefer-readonly": ["error"],
		// "@typescript-eslint/prefer-readonly-parameter-types": ["error", { "ignoreInferredTypes": true }],
		"@typescript-eslint/prefer-readonly-parameter-types": "off",
		"@typescript-eslint/prefer-reduce-type-parameter": ["error"],
		"@typescript-eslint/prefer-regexp-exec": "off",
		"@typescript-eslint/prefer-return-this-type": ["error"],
		"@typescript-eslint/prefer-string-starts-ends-with": ["error"],
		"@typescript-eslint/prefer-ts-expect-error": ["error"],
		"@typescript-eslint/promise-function-async": ["error"],
		"@typescript-eslint/require-array-sort-compare": ["error"],
		"@typescript-eslint/restrict-plus-operands": ["error"],
		"@typescript-eslint/restrict-template-expressions": ["error"],
		"@typescript-eslint/sort-type-constituents": ["error"],
		"@typescript-eslint/strict-boolean-expressions": ["error"],
		"@typescript-eslint/switch-exhaustiveness-check": ["error"],
		"@typescript-eslint/triple-slash-reference": ["error", { "path": "always", "types": "prefer-import", "lib": "always" }],
		"@typescript-eslint/type-annotation-spacing": ["error"],
		"@typescript-eslint/typedef": ["error", { "arrayDestructuring": false, "arrowParameter": true, "memberVariableDeclaration": false, "objectDestructuring": false, "parameter": false, "propertyDeclaration": false, "variableDeclaration": true, "variableDeclarationIgnoreFunction": true }],
		"@typescript-eslint/unbound-method": ["error"],
		"@typescript-eslint/unified-signatures": ["error"],
		/* extension rules */
		"@typescript-eslint/block-spacing": ["error", "always"],
		"@typescript-eslint/brace-style": ["error", "1tbs", { "allowSingleLine": true }],
		"@typescript-eslint/comma-dangle": ["error", "always-multiline"],
		"@typescript-eslint/comma-spacing": ["error", { "before": false, "after": true }],
		"@typescript-eslint/default-param-last": ["error"],
		"@typescript-eslint/dot-notation": ["error"],
		"@typescript-eslint/func-call-spacing": ["error", "never"],
		"@typescript-eslint/indent": ["error", "tab", { "SwitchCase": 1 }],
		"@typescript-eslint/init-declarations": "off",
		"@typescript-eslint/key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
		"@typescript-eslint/keyword-spacing": ["error", { "before": true, "after": true }],
		"@typescript-eslint/lines-around-comment": "off",
		"@typescript-eslint/lines-between-class-members": ["error", "always"],
		"@typescript-eslint/no-array-constructor": ["error"],
		"@typescript-eslint/no-dupe-class-members": ["error"],
		"@typescript-eslint/no-duplicate-imports": ["error"],
		"@typescript-eslint/no-empty-function": ["error"],
		"@typescript-eslint/no-extra-parens": "off",
		"@typescript-eslint/no-extra-semi": ["error"],
		"@typescript-eslint/no-implied-eval": ["error"],
		"@typescript-eslint/no-invalid-this": ["error"],
		"@typescript-eslint/no-loop-func": ["error"],
		"@typescript-eslint/no-loss-of-precision": ["error"],
		"@typescript-eslint/no-magic-numbers": "off",
		"@typescript-eslint/no-redeclare": ["error"],
		"@typescript-eslint/no-restricted-imports": "off",
		"@typescript-eslint/no-shadow": ["error"],
		"@typescript-eslint/no-throw-literal": ["error"],
		"@typescript-eslint/no-unused-expressions": ["error"],
		"@typescript-eslint/no-unused-vars": ["error"],
		"@typescript-eslint/no-use-before-define": ["error"],
		"@typescript-eslint/no-useless-constructor": ["error"],
		"@typescript-eslint/object-curly-spacing": ["error", "always"],
		"@typescript-eslint/padding-line-between-statements": "off",
		"@typescript-eslint/quotes": ["error", "single", { "avoidEscape": true }],
		"@typescript-eslint/require-await": ["error"],
		"@typescript-eslint/return-await": ["error"],
		"@typescript-eslint/semi": ["error", "always"],
		"@typescript-eslint/space-before-blocks": ["error", "always"],
		"@typescript-eslint/space-before-function-paren": ["error", "never"],
		"@typescript-eslint/space-infix-ops": ["error"]
	}
}
